/* "auto" makes the left and right margins center the wrapper */
#wrap { 
	width: 900px; 
	margin: 0 auto; 
}

body {
    background-color: black;
}

h1, h2, h3 {
	color: #444D56;
}

h1 {
	font-weight: bold;
	font-size: 52px;
}


a {
    color: #009BD3;
}
