/* "auto" makes the left and right margins center the wrapper */


body {
	background-color: black;
	font-family: 'Roboto', sans-serif;
	margin:40px
	auto;max-width:800 px;line-height:1.6;font-size:18px;color:#444;padding:0
	10px
}

h1, h2, h3 {
	color: #444D56;
	line-height:1.2
}

p {
color: #444D56;
}

h1 {
	font-weight: bold;
	font-size: 8.2vw;
	
}

a {
    color: #009BD3;
    line-height:1.2;
}
