/* "auto" makes the left and right margins center the wrapper */
#wrap { 
	width: 900px; 
	margin: 0 auto; 
}

body {
    background-color: black;
}

p {
    color: #444D56;
}


a {
    color: #009BD3;
}
